<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Space Connect</h1>
   <button type="button" onclick="alert('Hello world')">Recent Project Ideas</button>
  </body>
</html>
