<!DOCTYPE html>
<html>
  <head>
    <title>Project Ideas</title>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/project.css' />
  </head>
  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <div class="titleHeader">
      <div class="titleHeaderItem">
        <h1>Project Ideas</h1>
      </div>
      <div class="titleHeaderItem"></div>
      <div>
        <form method="GET" action="/spaceconnect/projects/addideatemplate">
          <button type="submit" id="addNewIdeas" class="gradientBtn" onclick="">Add New Ideas</button>
        </form>
      </div>
    </div>
    <ul>
      <%
        var list = '';
        for (i = 0; i < ideasummary.length; i++) {
          list += '<div class="summaryItem"><div class="projectTitle">'+ ideasummary[i].title + '</div>'+
          '<div class="projectType">'+ ideasummary[i].type + '</div>'+
          '<div class="projectTopic">'+ ideasummary[i].topic + '</div>'+
          '<div class="projectDescription">'+ ideasummary[i].description + '</div></div>';
        }
      %>
      <%- list %>
    </ul>
    <footer id="footer">
      <%- include('./partials/footer'); %>
  </footer>
  </body>
</html>