body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#footer {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  background-color:#f8f9fa!important;
}
img{  
  max-width: 100%;
  max-height: 100%;
}
#logoArea {
  width: 70px;
  height: 70px;
}

.navbar-brand{
  size: 10;
}

.titleHeader {
  display: flex;
  /* background-color: darkslategrey; */
  padding: 3rem 10rem;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  /* align-content: center; */
  text-align: center;
  justify-content: space-between;
}